{extends 'layout-login.latte'}

{block content}
	<form method="post" action="todo">
		<ul>
			<li>
				<label>Username:
					<input type="text" name="username">
				</label>
			</li>
            <li>
                <label>Password:
                    <input type="password" name="password">
                </label>
            </li>
		</ul>
		<button type="submit" name="login" value="login">Login</button>
	</form>
{/block}
