{extends layout.latte}

{block content}
	<table>
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Nickname</th>
			<th>Age</th>
		</tr>
		<tr>
			<td>John</td>
			<td>Doe</td>
			<td>Johnny</td>
			<td>42</td>
		</tr>
		<tr>
			<td>John</td>
			<td>Doe</td>
			<td>Johnny</td>
			<td>42</td>
		</tr>
		<tr>
			<td>John</td>
			<td>Doe</td>
			<td>Johnny</td>
			<td>42</td>
		</tr>
	</table>
{/block}