<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Event handling with JavaScript</title>
    <style>
        .highlight {
            border: 2px solid #00FF00;
            padding: 5px;
        }
    </style>
</head>
<body>
<button onclick="toggleIt()">
    Click this button to toggle a CSS class.
</button>
<div id="element">
    This is an element.
</div>
<script>
    function toggleIt() {
        var el = document.getElementById("element");
        el.classList.toggle("highlight");
    }
    /* alternative:
    // attach the event programmatically
    var allBtns = document.getElementsByTagName("button");
    // basic event handler attachment
    allBtns[0].onclick = toggleIt;
    // better way of event handler attachment (allows more handlers)
    //allBtns[0].addEventListener('click', toggleIt);
    */
</script>
</body>
</html>