<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Form validation</title>
</head>
<body>
    <form action="http://example.com" method="post" onsubmit="return confirmForm()">
        <input type="submit" value="Accept">
    </form>
    <form action="http://example.com" method="post" onsubmit="return confirmForm()">
        <input type="submit" value="Deny">
    </form>
    <script>
        function confirmForm() {
            //show popup and return true/false
            return confirm('Do you really want to Accept/Deny?');
        }
    </script>
</body>