{extends layout.latte}

{block content}
<p>
	{$postData}
</p>
<form method='post'>
	<label>Some text:
		<input type='text' name='someText'>
	</label>
	<button type='submit' name='send' value='something'>Send</button>
</form>
{/block}