<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Nested lists</title>
    </head>
    <body>
        <ol>
            <li>Good
                <ul>
                    <li>empire</li>
                    <li>magazine</li>
                    <li>time</li>
                </ul>
            </li>
            <li>Bad
                <ul>
                    <li>day</li>
                    <li>ice cream</li>
                    <li>Schandau</li>
                </ul>
            </li>
            <li>Ugly
                <ul>
                    <li>gifs</li>
                </ul>
            </li>
        </ol>
    </body>
</html>
