<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Sample page</title>
    </head>
    <body>
        <h1>Navigation</h1>
        <nav>
            <ul>
                <li>Persons</li>
                <li>Meetings
                    <ul>
                        <li>Upcomming meetings</li>
                        <li>Plan new meeting</li>
                        <li>All meetings</li>
                    </ul>
                </li>
                <li>Relations</li>
                <li>Logout</li>
            </ul>
        </nav>

        <h1>John Doe</h1>
        <p><a href='https://en.wikipedia.org/wiki/John_Doe'>Main article</a>
        </p>
        <figure>
            <img src='http://www.johndoe.pro/img/John_Doe.jpg' alt='Portrait of John Doe' height='250'>
            <figcaption>Portrait of John Doe</figcaption>
        </figure>

        <h2>About John Doe</h2>
        <p>The names "John Doe" or "John Roe" for men, "Jane Doe" or "Jane Roe" for women, or "Johnnie Doe" and "Janie Doe" for children, or just "Doe" non-gender-specifically are used as placeholder names for a party whose true identity is unknown or must be withheld in a legal action, case, or discussion. The names are also used to refer to a corpse or hospital patient whose identity is unknown. This practice is widely used in the United States and Canada, but is rarely used in other English-speaking countries including the United Kingdom, whence the use of "John Doe" in a legal context originates. The names "Joe Bloggs" or "John Smith" are used in the UK as placeholder names, (mainly to mean 'any old person', the classic 'Everyman') as well as in Australia and New Zealand.
        </p>

        <h2>Notable Johns</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Nickname</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>JohnnyDoey</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Roe</td>
                <td>RoeyDoey</td>
                <td>21</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Smith</td>
                <td>Anvil</td>
                <td>22</td>
            </tr>
        </table>
    </body>
</html>
