<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Sample page</title>
        <link rel='stylesheet' href='style-15b.css'>
    </head>
    <body>
        <form class='tabularForm'>
            <div>
                <label for='first_name'>First Name</label>
                <input id='first_name' name='first_name' type='text'>
            </div>
            <div>
                <label for='last_name'>Last Name</label>
                <input id='last_name' name='last_name' type='text'>
            </div>
            <div>
                <label for='nickname'>Nickname</label>
                <input id='nickname' name='nickname' type='text'>
            </div>
        </form>
    </body>
</html>
