<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Sample page</title>
        <link rel='stylesheet' href='style-11c.css'>
    </head>
    <body>
        <div class='outer'>
            <div class='inner'></div>
            <div class='inner'></div>
            <div class='inner'></div>
            <div class='inner'></div>
            <div class='inner'></div>
            <div class='inner'></div>
            <div class='inner'></div>
        </div>
    </body>
</html>
