<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Sample page</title>
        <link rel='stylesheet' href='style-12b.css'>
    </head>
    <body>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacus arcu, pretium eget elementum id, tempus ac nulla. Ut a nibh libero. Pellentesque vestibulum sed nunc sed pellentesque. Aliquam tincidunt magna id leo mattis congue. Vivamus vehicula placerat lectus ut rutrum. Suspendisse accumsan, nisl quis tempor pellentesque, libero urna convallis urna, a maximus nulla sapien vitae diam. Nullam eget sem non lacus aliquet semper ut in elit. Donec sit amet nisl cursus magna rutrum suscipit et sed ipsum. Nullam sagittis nec ipsum vitae aliquet. Duis pellentesque augue urna, sit amet fermentum lacus finibus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc felis, accumsan vitae lectus et, viverra rhoncus libero. Cras a euismod augue. Cras vel euismod elit, vitae lobortis arcu. Morbi eu consectetur nibh, ut malesuada turpis.
            </p>
            <figure class='left'>
                <img src='https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png' alt='HTML 5 Logo'>
            </figure>
            <p>
                Integer iaculis porttitor massa, nec ultrices tellus tristique vel. Mauris imperdiet felis at tellus congue venenatis. Nulla id diam ac diam scelerisque scelerisque. Ut tempor auctor nibh, vitae porta orci tempor ac. Mauris dolor mi, porttitor at venenatis vitae, tempus sed risus. Suspendisse sit amet consequat erat. Mauris aliquam quam non est convallis, in viverra elit sagittis. Quisque vestibulum porta dolor. Donec quis risus in ligula sollicitudin dictum ac a turpis. Pellentesque mattis id nibh commodo fringilla. Sed a posuere ligula. Phasellus nec augue vulputate, pharetra elit a, fringilla purus.

                Phasellus vel varius orci, nec vestibulum nunc. Ut metus quam, scelerisque ut consectetur ut, tincidunt sed nunc. Integer dapibus massa non arcu molestie iaculis. Fusce pretium scelerisque augue. Vestibulum dignissim neque mi, quis porttitor purus varius non. Aenean nec auctor magna. Nunc non lorem dictum, accumsan diam eget, facilisis nunc. Fusce imperdiet placerat est, eget auctor nisi ultricies non. Ut ac felis rutrum, malesuada lectus eget, tincidunt nisl. Morbi cursus lorem eu est suscipit pulvinar. Cras elit justo, condimentum non risus nec, efficitur pulvinar sem. Proin viverra mauris eu elit consequat lacinia. Etiam tincidunt vehicula metus in ornare.

                Sed quis ipsum porta, malesuada lectus ac, hendrerit felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ullamcorper augue in turpis tincidunt, nec interdum purus volutpat. Ut at magna at nibh efficitur feugiat. In sed ipsum lectus. Nunc eleifend quam id neque semper, sed cursus eros dictum. Donec elementum, neque eu ultrices vulputate, metus sapien condimentum ipsum, vel aliquet lacus diam vel lectus. Vestibulum sed commodo nibh. Nunc in volutpat eros. Quisque condimentum ultrices pulvinar. Vestibulum venenatis efficitur orci id suscipit. Nam varius arcu sit amet cursus faucibus. Donec fermentum orci dolor, id porttitor turpis consequat vel.
            </p>
            <figure class='right'>
                <img src='https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png' alt='HTML 5 Logo'>
            </figure>
            <p>
                Phasellus accumsan volutpat leo, quis rutrum urna posuere et. In egestas ullamcorper nibh, quis dapibus dui porttitor nec. Mauris eu neque a nunc faucibus auctor finibus ut risus. Integer a ipsum quam. Morbi euismod urna vitae neque consequat varius eget vel magna. Sed facilisis faucibus sapien, ut faucibus ex iaculis vitae. Donec gravida arcu laoreet massa cursus, a tincidunt neque feugiat. Morbi lectus nisl, tristique vitae tellus vel, consectetur rutrum velit. Quisque sit amet ipsum luctus, sollicitudin diam id, fringilla ligula. Donec semper dignissim elementum. Aliquam at facilisis nibh, nec accumsan diam. Cras gravida ipsum vitae feugiat tristique. Maecenas euismod fringilla risus non pretium.
            </p>
        </article>
    </body>
</html>
