<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Sample page</title>
        <link rel='stylesheet' href='style-14b.css'>
    </head>
    <body>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacus arcu, pretium eget elementum id, tempus ac nulla. Ut a nibh libero. Pellentesque vestibulum sed nunc sed pellentesque. Aliquam tincidunt magna id leo mattis congue. Vivamus vehicula placerat lectus ut rutrum. <span></span><span class='specialText'>Suspendisse accumsan, nisl quis tempor pellentesque, libero urna convallis urna</span>, a maximus nulla sapien vitae diam. Nullam eget sem non lacus aliquet semper ut in elit. Donec sit amet nisl cursus magna rutrum suscipit et sed ipsum. Nullam sagittis nec ipsum vitae aliquet. Duis pellentesque augue urna, sit amet fermentum lacus finibus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc felis, accumsan vitae lectus et, viverra rhoncus libero. Cras a euismod augue. Cras vel euismod elit, vitae lobortis arcu. Morbi eu consectetur nibh, ut malesuada turpis.
            </p>
        </article>
    </body>
</html>
