<!DOCTYPE html>
<html>
    <head>
    	<link rel='stylesheet' href='style-9.css'>
        <meta charset='UTF-8'>
        <title>CSS example</title>
    </head>
    <body>
        <p>This is a plain paragraph</p>
        <ul>
            <li>first ul with a <a href='http://example.com'>link</a></li>
            <li>second ul</li>
            <li>third ul
                <ol>
                    <li id='special'>first ol with a <a href='http://example.com'>link</a></li>
                    <li>second ol</li>
                    <li>third ol</li>
                </ol>
            </li>
        </ul>
        <ol>
            <li>first ol</li>
            <li>second ol</li>
            <li>third ol</li>
        </ol>        
        <ul class='menu'>
            <li>first ul <a href='http://example.com'>link</a></li>
            <li>second ul</li>
            <li>third ul
                <ol>
                    <li>first ol with a <a href='http://example.com'>link</a></li>
                    <li>second ol</li>
                    <li>third ol</li>
                </ol>
            </li>
        </ul>
    </body>
</html>
