<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{include title}</title>
	</head>
	<body>
        <h1>Address book application</h1>
        <nav>
            <ul>
                <li>Persons</li>
                <li>Meetings
                    <ul>
                        <li>Upcomming meetings</li>
                        <li>Plan new meeting</li>
                        <li>All meetings</li>
                    </ul>
                </li>
                <li>Relations</li>
                <li>Logout</li>
            </ul>
        </nav>
		{include body}
		<footer>Page created by New Developer</footer>
	</body>
</html>
