<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Address book login</title>
	</head>
	<body>
        <h1>Address book login</h1>
		{include body}
		<footer>Page created by New Developer</footer>
	</body>
</html>
