/* this CSS is used for all devices */
body {
	background-color: #888888;
	font-size: 12pt;
}
@media screen and (min-width: 800px) {
	/* CSS for larger screens */
	body {
	  padding: 4rem;
	}
}
@media screen and (max-width: 799px) {
	/* CSS for smaller screens */
	body {
	  padding: 1rem;
	}
}
@media print {
	/* CSS for printers */
	nav {
		display: none;
	}
}
