body, html {
	font-family: "Times New Roman";
    font-size: 16px;
    margin: 0;
    background-color: cyan;
}
article  {
    background-color: blue;
    border: 50px solid magenta; 
}
.specialText {
	margin-left: 50px;
	margin-top: 50px;
	padding: 10px;
	background-color: white;
	border: 20px solid yellow;
}
