body, html {
	margin: 0;
	background-color: cyan;
}
.inner {
	background-color: yellow;
	width: 50px;
	height: 50px;
}
.outer  {
	background-color: blue;
	padding: 50px;
	border: 50px solid magenta;	
	margin: 50px;
	width: 150px;
}
