{extends layout.latte}

{block title}People{/block}

{block body}
<table class="table table-hover table-condensed">
    <tr>
       <th>First Name</th>
       <th>Last Name</th>
    </tr>
    {foreach $persons as $person}
        <tr>
          <td>{$person['first_name']}</td>
          <td>{$person['last_name']}</td>
        </tr>
    {/foreach}
</table>
{/block}
