{extends layout.latte}

{block title}Person update{/block}

{block operation}Update person{/block}

{block body}
{if isset($message)}
    <p>{$message}</p>
{/if}
<h1>Update Person Details</h1>
{include person-form.latte, operation => 'Update person'}
{/block}