{extends layout.latte}

{block title}File upload{/block}

{block body}
<form method="post" enctype="multipart/form-data">
	<label>Select a file:</label>
	<input type="file" name="user_file" required />
	<br />
	<input type="submit" value="Upload" />
</form>
{/block}
