<form method='post' action='http://odinuv.cz/form_test.php'>
    <ul>
        <li>Gender:
            <label>Male
                <input type='radio' value='male' required name='radioGender'>
            </label>
            <label>Female
                <input type='radio' value='male' required name='radioGender'>
            </label>
        </li>
        <li>
            Colour:
            <label>Red
                <input type='radio' value='red' checked='checked' name='radioColour'>
            </label>
            <label>Green
                <input type='radio' value='green' checked='checked' name='radioColour'>
            </label>
            <label>Blue
                <input type='radio' value='blue' checked='checked' name='radioColour'>
            </label>
        </li>
    </ul>
    <button type='submit'>Submit</button>
</form>
