<form method='post' action='http://odinuv.cz/form_test.php'>
    <ul>
        <li>
            <label>Input with a default value:
                <input type='text' value='John Doe' name='inputWithDefaultValue'>
            </label>
        </li>
        <li>
            <label>Input with a placeholder:
                <input type='text' placeholder='Name Surname' name='inputWithPlaceholder'>
            </label>
        </li>
        <li>
            <label>Required input:
                <input type='text' required='required' name='requiredInput'>
            </label>
        </li>
        <li>
            <label>Input without special attributes:
                <input type='text' name='commonInput'>
            </label>
        </li>
    </ul>
    <button type='submit'>Submit</button>
</form>
