<form method='post' action='http://odinuv.cz/form_test.php'>
    <ul>
        <li>
            <label>Order description:
                <textarea name='descriptionText' rows='10' cols='40'></textarea>
            </label>
        </li>
        <li>
            <label>Product description:
                <textarea name='productText' rows='2' cols='40'>This is the best product ever made.
You certainly want to buy it.</textarea>
            </label>
        </li>
    </ul>
    <button type='submit'>Submit</button>
</form>
